/*IMPORTER "MIXINS" (A INSTALLER SUR CHAQUE PROJETS POUR LES AVOIR A CHAQUE FOIS)*/
/*VARIABLES*/
/*MIXINS*/
/* line 11, ../scss/styles.scss */
body {
  margin: 0 auto;
  width: 800px;
}

/* line 16, ../scss/styles.scss */
.col1 {
  width: 50%;
  background-color: blue;
  -moz-border-radius: 20px 10px;
  -webkit-border-radius: 20px;
  border-radius: 20px 10px;
  -moz-box-shadow: 10px 10px #000;
  -webkit-box-shadow: 10px 10px #000;
  box-shadow: 10px 10px #000;
  padding: 50px;
}
/* line 18, ../scss/styles.scss */
.col1 p {
  color: #000;
}
/* line 20, ../scss/styles.scss */
.col1 p span {
  display: block;
}
@media screen and (max-width: 940px) {
  /* line 16, ../scss/styles.scss */
  .col1 {
    width: 40%;
    background-color: orange;
    -moz-border-radius: 20px 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px 10px;
    -moz-box-shadow: 10px 10px #000;
    -webkit-box-shadow: 10px 10px #000;
    box-shadow: 10px 10px #000;
    padding: 10px;
  }
}

/* line 29, ../scss/styles.scss */
.col2 {
  width: 35%;
  background-color: orange;
  -moz-border-radius: 20px 10px;
  -webkit-border-radius: 20px;
  border-radius: 20px 10px;
  -moz-box-shadow: 10px 10px #000;
  -webkit-box-shadow: 10px 10px #000;
  box-shadow: 10px 10px #000;
  padding: 10px;
}

/* line 33, ../scss/styles.scss */
.important, .very_important {
  font-size: 20px;
  font-weight: bold;
}

/* line 38, ../scss/styles.scss */
.very_important {
  color: gray;
}

/*ODRE DES PARAMETRES LIENS : normal, hover, active, visited, focus*/
/* line 45, ../scss/styles.scss */
a {
  color: #800040;
}
/* line 24, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: blue;
}

/*GENERER DES BOUCLES QUI CREENT DES CLASSES ETC..*/
/* line 52, ../scss/styles.scss */
.box-1 {
  width: 25%;
  color: red;
}

/* line 52, ../scss/styles.scss */
.box-2 {
  width: 25%;
  color: red;
}

/* line 52, ../scss/styles.scss */
.box-3 {
  width: 25%;
  color: red;
}

/* line 52, ../scss/styles.scss */
.box-4 {
  width: 25%;
  color: red;
}

/* line 52, ../scss/styles.scss */
.box-5 {
  width: 25%;
  color: yellow;
}

/* line 64, ../scss/styles.scss */
.photo-john {
  background: url("personnes/john");
}

/* line 64, ../scss/styles.scss */
.photo-henrey {
  background: url("personnes/henrey");
}

/* line 64, ../scss/styles.scss */
.photo-jean {
  background: url("personnes/jean");
}

/* line 64, ../scss/styles.scss */
.photo-paul {
  background: url("personnes/paul");
}
