@import 'compass';
@import '../partials/mixins'; /*IMPORTER "MIXINS" (A INSTALLER SUR CHAQUE PROJETS POUR LES AVOIR A CHAQUE FOIS)*/

/*VARIABLES*/
$violet: #000; 
$list : john henrey jean paul;

/*MIXINS*/


body {
	margin: 0 auto;
	width: 800px;
}

.col1{
	@include boite(50%, 50px, blue);
	p{
		color: $violet;
		span{
			display: block;
		}
	}
	@media screen and (max-width: 940px){
		@include boite(40%);
	}
}

.col2{
	@include boite();
}

.important {
	font-size: 20px;
	font-weight: bold;
}

.very_important{
	@extend .important;
	color: lighten($violet,50%);
}

/*ODRE DES PARAMETRES LIENS : normal, hover, active, visited, focus*/

a{
	@include link-colors(#800040, blue);
}

/*GENERER DES BOUCLES QUI CREENT DES CLASSES ETC..*/

@for $i from 1 through 5{
	.box-#{$i} {
		width: 25%;
		@if $i <= 4{
			color: red;
		}@else {
			color: yellow;
		}
	}
}


@each $person in $list {
	.photo-#{$person}{
		background: url("personnes/#{$person}");
	}
}